<div {{ attributes }} data-poll="delay(30000)|$render" class="card">
    <div class="card-body">
        <h3>Položky</h3>

        {% set stockItems = this.stockItems %}

        {% if stockItems|length == 0 %}
            <div class="alert alert-info">
                Žádné položky na {% if position %}pozice{% elseif location %}lokaci{% else %}skladu{% endif %}
            </div>
        {% else %}
            <ul class="list-unstyled">
                {% for stockItem in stockItems %}
                    <li class="mb-1">
                        {% if product %}
                            <a class="btn btn-sm btn-outline-secondary" href="{{ path('position_info', {'id': stockItem.position.id}) }}">{{ stockItem.position.name }}</a>
                            <strong class="ms-2">{{ stockItem.quantity }} ks</strong>
                        {% elseif position %}
                            {% if stockItem.product %}
                                <a href="{{ path('product_info', {'id': stockItem.product.id}) }}">{{ stockItem.product.title }}</a>
                            {% else %}
                                {{ stockItem.ean }}
                            {% endif %}
                            <strong class="ms-2">{{ stockItem.quantity }} ks</strong>
                        {% elseif location %}
                            <a class="btn btn-sm btn-outline-secondary me-2" href="{{ path('position_info', {'id': stockItem.position.id}) }}">{{ stockItem.position.name }}</a>

                            {% if stockItem.product %}
                                <a href="{{ path('product_info', {'id': stockItem.product.id}) }}">{{ stockItem.product.title }}</a>
                            {% else %}
                                {{ stockItem.ean }}
                            {% endif %}

                            <strong class="ms-2">{{ stockItem.quantity }} ks</strong>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
