{% extends 'base.html.twig' %}

{% block title %}{{ position.name }}{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('warehouse_info', {'id': position.location.warehouse.id}) }}">{{ position.location.warehouse.title }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('location_info', {'id': position.location.id}) }}">{{ position.location.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ position.name }}</li>
        </ol>
    </nav>

    <h1>{{ position.name }}</h1>

    <p>
        <a class="btn btn-outline-primary me-1 mb-1" href="{{ path('position_stock_up', {'id': position.id}) }}">
            <i class="bi bi-box-arrow-in-up"></i> Naskladňování
        </a>

        <a class="btn btn-outline-primary mb-1" href="{{ path('position_unload', {'id': position.id}) }}">
            <i class="bi bi-box-arrow-up"></i> Vyskladňování
        </a>
    </p>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <twig:Stock:StockItemsCard position="{{ position }}" />
        </div>

        <div class="col">
            <twig:Stock:StockMovementsCard position="{{ position }}" />
        </div>
    </div>

{% endblock %}
