{% extends 'base.html.twig' %}

{% block title %}Vyskladňování - {{ position.name }}{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('warehouse_info', {'id': position.location.warehouse.id}) }}">{{ position.location.warehouse.title }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('location_info', {'id': position.location.id}) }}">{{ position.location.name }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('position_info', {'id': position.id}) }}">{{ position.name }}</a></li>
        </ol>
    </nav>

    <h1>Vyskladňování - {{ position.name }}</h1>

    <p>
        <a class="btn btn-outline-secondary" href="{{ path('position_info', {'id': position.id}) }}">
            <i class="bi bi-arrow-left"></i> Zpět
        </a>

        <a class="btn btn-outline-primary me-1 mb-1" href="{{ path('position_stock_up', {'id': position.id}) }}">
            <i class="bi bi-box-arrow-in-up"></i> Naskladňování
        </a>
    </p>

    <twig:Position:PositionUnloadForm position="{{ position }}" />
{% endblock %}
