{% extends 'base.html.twig' %}

{% block title %}Vyskladňování - {{ position.name }}{% endblock %}

{% block content %}
    <h1>Vyskladňování - {{ position.name }}</h1>

    <p>
        <a class="btn btn-outline-secondary" href="{{ path('position_info', {'id': position.id}) }}">
            <i class="bi bi-arrow-left"></i> Zpět
        </a>

        <a class="btn btn-outline-primary me-1" href="{{ path('position_stock_up', {'id': position.id}) }}">
            <i class="bi bi-box-arrow-in-up"></i> Naskladňování
        </a>
    </p>

    <twig:Position:PositionUnloadForm position="{{ position }}" />
{% endblock %}
