{% extends 'base.html.twig' %}

{% block title %}{{ location.name }}{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('warehouse_info', {'id': location.warehouse.id}) }}">{{ location.warehouse.title }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ location.name }}</li>
        </ol>
    </nav>

    <h1>{{ location.name }}</h1>

    <div class="row row-cols-1 row-cols-md-2 g-4">

        <div class="col">
            <div class="card mb-3">
                <div class="card-body">
                    <h3>Pozice</h3>

                    {% if location.positionsCount == 0 %}
                        <div class="alert alert-info">
                            Tato lokace nemá žádné pozice
                        </div>
                    {% else %}
                        <ul class="list-inline">
                            {% for position in location.positions %}
                                <li class="list-inline-item">
                                    <a class="btn btn-sm btn-outline-secondary mb-2" href="{{ path('position_info', {'id': position.id}) }}">
                                        {{ position.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col">
            <twig:Stock:StockItemsCard location="{{ location }}" />
        </div>


        <div class="col">
            <twig:Stock:StockMovementsCard location="{{ location }}" />
        </div>
    </div>
{% endblock %}
