{% extends 'base.html.twig' %}

{% block title %}Produkt - {{ product.title }}{% endblock %}

{% block content %}
    <h1>Produkt - {{ product.title }}</h1>

    <p>
        <a class="btn btn-outline-primary me-1" href="{{ path('product_stock_up', {'id': product.id}) }}">
            <i class="bi bi-box-arrow-in-up"></i> Naskladňování
        </a>

        <a class="btn btn-outline-primary" href="{{ path('product_unload', {'id': product.id}) }}">
            <i class="bi bi-box-arrow-up"></i> Vyskladňování
        </a>
    </p>

    <div class="row row-cols-1 row-cols-md-2 g-4">

        <div class="col">
            <div class="card mb-3">
                <div class="card-body">
                    {% if product.image %}
                        <img src="{{ product.image }}" class="float-start me-2" style="max-width: 100px;max-height: 100px;">
                    {% endif %}
                    EAN: {{ product.ean }}<br>
                    SKU: {{ product.sku ?? '-' }}<br>
                    Kategorie: {{ product.category ?? '-' }}<br>
                    Výrobce: {{ product.manufacturer ?? '-' }}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-3">
                <div class="card-body">
                    <h3>Objednávky</h3>

                    <div class="alert alert-info">
                        Žádné objednávky s tímto produktem
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <twig:Stock:StockItemsCard product="{{ product }}" />
        </div>

        <div class="col">
            <twig:Stock:StockMovementsCard product="{{ product }}" />
        </div>
    </div>
{% endblock %}
