{% extends 'base.html.twig' %}

{% block title %}Naskladnění - {{ product.title }}{% endblock %}

{% block content %}
    <h1>Naskladnění - {{ product.title }}</h1>

    <p>
        <a class="btn btn-outline-secondary" href="{{ path('product_info', {'id': product.id}) }}">
            <i class="bi bi-arrow-left"></i> Zpět
        </a>

        <a class="btn btn-outline-primary" href="{{ path('product_unload', {'id': product.id}) }}">
            <i class="bi bi-box-arrow-up"></i> Vyskladňování
        </a>
    </p>

    <twig:Product:ProductStockUpForm product="{{ product }}" />
{% endblock %}
