{% extends 'base.html.twig' %}

{% block title %}Vyskladnění - {{ product.title }}{% endblock %}

{% block content %}
    <h1>Vyskladnění - {{ product.title }}</h1>

    <p>
        <a class="btn btn-outline-secondary" href="{{ path('product_info', {'id': product.id}) }}">
            <i class="bi bi-arrow-left"></i> Zpět
        </a>

        <a class="btn btn-outline-primary me-1" href="{{ path('product_stock_up', {'id': product.id}) }}">
            <i class="bi bi-box-arrow-in-up"></i> Naskladňování
        </a>
    </p>

    <twig:Product:ProductUnloadForm product="{{ product }}" />
{% endblock %}
