{% extends 'base.html.twig' %}

{% block title %}{{ warehouse.title }}{% endblock %}

{% block content %}
    <h1>{{ warehouse.title }}</h1>

    <p>
        <a class="btn btn-outline-primary my-3" href="{{ path('warehouse_stock_demands', {'id': warehouse.id}) }}">
            <i class="bi bi-box-seam"></i> Skladové nároky
        </a>
    </p>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card mb-3">
                <div class="card-body">
                    <h3>Lokace</h3>

                    {% if warehouse.locationsCount == 0 %}
                        <div class="alert alert-info">
                            Tento sklad nemá žádné lokace
                        </div>
                    {% else %}
                        <ul class="list-inline">
                            {% for location in warehouse.locations %}
                                <li class="list-inline-item">
                                    <a class="btn btn-sm btn-outline-secondary mb-2" href="{{ path('location_info', {'id': location.id}) }}">
                                        {{ location.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col">
            <twig:Stock:StockMovementsCard warehouse="{{ warehouse }}" />
        </div>
    </div>
{% endblock %}
