<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% apply spaceless %}{% block title %}{% endblock %}{% endapply %} | WMS</title>

        {% block meta_viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {% endblock %}

        <meta name="turbo-prefetch" content="false">
        <meta name="turbo-refresh-method" content="morph">

        <meta name="description" content="{% apply spaceless %}{% block meta_description %}{% endblock %}{% endapply %}">
        <meta name="keywords" content="{% apply spaceless %}{% block meta_keywords %}{% endblock %}{% endapply %}">

        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">

        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">

        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

        <link type="text/plain" rel="author" href="{{ asset('humans.txt') }}">

        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}

        {% block custom_styles %}{% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">

    {% block full_content %}

        <h5 class="my-0">{{ app.user.displayName }}</h5>
        <a href="{{ path('user_profile') }}" class="dropdown-item">
            <span>Můj účet</span>
        </a>

        <a href="{{ path('logout') }}" class="dropdown-item">
            <span>Odhlásit se</span>
        </a>

        {{ include('_flashes.html.twig') }}

        {% block content %}{% endblock %}
    {% endblock %}

    </body>
</html>
