{% extends 'base.html.twig' %}

{% block title %}Obnovení hesla{% endblock %}

{% block full_content %}
    <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5 position-relative">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-4 col-lg-5">
                    <div class="card">

                        <div class="card-body p-4">
                            {{ include('_flashes.html.twig') }}

                            <div class="text-center w-75 m-auto">
                                <h4 class="text-dark-50 text-center mt-0 fw-bold">Obnova hesla</h4>
                                <p class="text-muted mb-4">Zadejte váš e-mail, zašleme vám instrukce pro obnovení.</p>
                            </div>

                            {{ form_start(form) }}
                            {{ form_row(form.email) }}

                            <div class="mb-0 text-center">
                                <button class="btn btn-primary" type="submit">Obnovit heslo</button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <p class="text-muted">Zpět na <a href="{{ path('login') }}" class="text-muted ms-1"><b>přihlášení</b></a></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
