{% extends 'base.html.twig' %}

{% block title %}Přihlášení{% endblock %}

{% block full_content %}

    <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5 position-relative">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-4 col-lg-5">
                    <div class="card">

                        <div class="card-body p-4">
                            {{ include('_flashes.html.twig') }}

                            {% if error %}
                                <div class="alert alert-danger small">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            <div class="text-center w-75 m-auto">
                                <h4 class="text-dark-50 text-center pb-0 fw-bold">Přihlášení</h4>
                                <p class="text-muted mb-4">Zadejte váš e-mail a heslo</p>
                            </div>

                            <form action="{{ path('login') }}" method="post">

                                <div class="mb-3">
                                    <label for="emailaddress" class="form-label">E-mail</label>
                                    <input class="form-control" type="email" id="emailaddress" name="_username" required="required" placeholder="Zadejte váš e-mail" value="{{ last_username }}">
                                </div>

                                <div class="mb-3">
                                    <a href="{{ path('forgotten_password') }}" class="text-muted float-end"><small>Zapomněli jste heslo?</small></a>
                                    <label for="password" class="form-label">Heslo</label>
                                    <input type="password" id="password" class="form-control" name="_password" placeholder="Zadejte vaše heslo">
                                </div>

                                <div class="mb-3 mb-0 text-center">
                                    <button class="btn btn-primary" type="submit"> Přihlásit se </button>
                                </div>

                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            </form>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <p class="text-muted">Nemáte účet? <a href="{{ path('registration') }}" class="text-muted ms-1"><b>Zaregistrujte se</b></a></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
