<div {{ attributes }} class="card">
    <div class="card-body">
        {{ form_start(form, {
            attr: {
                'data-action': 'live#action:prevent',
                'data-live-action-param': 'handleScan',
            }
        }) }}

        <input type="radio" class="btn-check" name="options-base" id="option-info" autocomplete="off" checked>
        <label class="btn shadow-lg" for="option-info">Info</label>

        <input type="radio" class="btn-check" name="options-base" id="option-stockup" autocomplete="off">
        <label class="btn shadow-lg" for="option-stockup">Naskladnění</label>

        <input type="radio" class="btn-check" name="options-base" id="option-unload" autocomplete="off">
        <label class="btn shadow-lg" for="option-unload">Vyskladnění</label>

        <div class="input-group input-group-lg mt-3">
            {{ form_widget(form.code, {
                'attr': {
                    'class': 'form-control',
                    'placeholder': 'Naskenuj kód',
                    'data-controller': 'barcode-scanner',
                    'data-action': 'barcode-scanner#onInput',
                }
            }) }}

            <button class="btn btn-primary" type="submit">
                <i class="bi bi-search"></i>
            </button>
        </div>

        {{ form_errors(form.code) }}

        {{ form_end(form) }}
    </div>
</div>
