<div {{ attributes }} class="card">
    <div class="card-body">
        {{ form_start(form, {
            attr: {
                'data-action': 'live#action:prevent',
                'data-live-action-param': 'handleScan',
            }
        }) }}

        <div class="input-group input-group-lg">
            {{ form_widget(form.code, {
                'attr': {
                    'class': 'form-control',
                    'placeholder': 'EAN nebo pozice...',
                    'data-controller': 'barcode-scanner',
                    'data-action': 'barcode-scanner#onInput',
                    'autofocus': true,
                }
            }) }}

            <button class="btn btn-primary" type="submit">
                <i class="bi bi-search"></i>
            </button>
        </div>

        {{ form_errors(form.code) }}

        {% if error %}
            <p class="mt-3 mb-0 text-danger">{{ error }}</p>
        {% endif %}

        {{ form_end(form) }}
    </div>

    {% if code %}
        <div class="alert alert-info mx-3">
            <strong>Pozice pro EAN {{ code }}:</strong>
            {% for stockItem in this.stockItemsForEan %}
                <br>{{ stockItem.position.location.name }} / {{ stockItem.position.name }} - {{ stockItem.quantity}} ks (<small><code>{{ stockItem.position.id }}</code></small>)
            {% endfor %}
        </div>
    {% endif %}

    {% if this.position %}
        <div class="alert alert-info mx-3">
            <strong>Pozice:</strong> {{ this.position.location.name }} / {{ this.position.name }}
        </div>
    {% endif %}
</div>
