<div {{ attributes }} class="card">
    <div class="card-body">
        {{ form_start(form, {
            attr: {
                'data-action': 'live#action:prevent',
                'data-live-action-param': 'handleScan',
            }
        }) }}

        Nascanujte zboží nebo pozici.

        <div class="input-group input-group-lg mt-3">
            {{ form_widget(form.code, {
                'attr': {
                    'class': 'form-control',
                    'placeholder': 'Skenuj...',
                    'data-controller': 'barcode-scanner',
                    'data-action': 'barcode-scanner#onInput',
                    'autofocus': true,
                }
            }) }}

            <button class="btn btn-primary" type="submit">
                <i class="bi bi-search"></i>
            </button>
        </div>

        {{ form_errors(form.code) }}

        {% if formSubmitted %}
            <p class="mt-3 mb-0 text-danger">Produktový EAN nebyl nalezen v databázi</p>
        {% endif %}

        {{ form_end(form) }}
    </div>
</div>
