{% extends 'base.html.twig' %}

{% block title %}Uživatelé{% endblock %}

{% block content %}
    <h1>Uživatelé</h1>

    <p>
        <a class="btn btn-outline-primary" href="{{ path('user_add') }}">
            <i class="bi bi-plus-lg"></i> Přidat uživatele
        </a>
    </p>

    <div class="table-responsive shadow-lg">
        <table class="table table-hover mb-0">
            <thead class="table-dark">
            <tr>
                <th scope="col">E-mail</th>
                <th scope="col">Role</th>
                <th scope="col">API token</th>
                <th scope="col">Poslední aktivita</th>
                <th scope="col">Poslední přihlášení</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.email }}</td>

                    <td>{{ user.roles|join(', ') }}</td>

                    <td>{{ user.apiToken }}</td>

                    <td>{{ user.lastActivity ? user.lastActivity|date('d.m.Y H:i:s') }}</td>
                    <td>{{ user.lastLogin ? user.lastLogin|date('d.m.Y H:i:s') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
